 <div class="dialog-overlay" *ngIf="showDialog">
    <div class="dialog-box">
      <div class="dialog-header">
        <h2>Dettagli Azienda</h2>
        <button class="close-button" (click)="closeDialog()">×</button>
      </div>
      <div class="dialog-body">
        <p><strong>Nome:</strong> {{ data.name }}</p>
        <p><strong>Indirizzo:</strong> {{ data.address | json}}</p>
        <p><strong>Numero Telefono:</strong> {{ data.phoneNumber }}</p>
        <p><strong>Servizi:</strong> {{ data.services | json }}</p>
        <p><strong>Disponibilita:</strong> {{ data.availability | json }}</p>

      </div>
    </div>
  </div>
  
  