 <div class="dialog-overlay" *ngIf="showDialog">
    <div class="dialog-box">
      <div class="dialog-header">
        <h2>Dettagli Azienda</h2>
        <button class="close-button" (click)="closeDialog()">×</button>
      </div>
      <div class="dialog-body">

        <p><strong>Nome:</strong> {{ data.name }}</p>
        <p><strong>Indirizzo:</strong> {{ data.address.street}}</p>
        <p><strong>Numero Telefono:</strong> {{ data.phoneNumber }}</p>
        <p ><strong>Tipologia:</strong> {{ data.typology.codice }} - {{ data.typology.descrizione }}</p>
        <p><strong>Ateco:</strong> {{ data.ateco.codice }} - {{ data.ateco.descrizione }}</p>
        <p><strong>Servizi:</strong> {{ data.services }}</p>
        <p><strong>Disponibilita:</strong> {{ data.availability }}</p>

      </div>
    </div>
  </div>

