.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f8f9fa; /* Colore di sfondo chiaro per l'intera pagina */
}

mat-toolbar {
  background-color: #343a40; /* Colore scuro per la toolbar */
  color: white;
  padding: 15px 30px;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.user-info span {
  font-weight: bold;
}

.dashboard-content {
  flex-grow: 1;
  padding: 40px 30px;
  margin-top: 20px;
  background-color: white; /* Sfondo bianco per la sezione principale */
  border-radius: 10px; /* Angoli più arrotondati */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Ombra leggera per profondità */
}

.dashboard-content h2 {
  font-size: 2rem;
  color: #333; /* Colore scuro per il titolo */
  margin-bottom: 20px;
}

.dashboard-content strong {
  font-size: 1.3rem;
  color: #555; /* Colore più chiaro per i testi dei ruoli */
  display: block;
  margin-top: 10px;
}

.dashboard-content div {
  margin-top: 30px;
}

.dashboard-container mat-button {
  color: #6c757d; /* Colore chiaro per i bottoni */
  font-weight: 600;
  border-radius: 5px;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  border: 1px solid #ccc; /* Bordi sottili e chiari per i bottoni */
}

.dashboard-container mat-button:hover {
  background-color: #e2e6ea; /* Colore di sfondo chiaro per l'effetto hover */
}

.dashboard-container .logout {
  background-color: #dc3545; /* Rosso per il logout */
  color: white;
}

.dashboard-container .logout:hover {
  background-color: #c82333; /* Rosso più scuro al passaggio del mouse */
}

.dashboard-container .role-specific-content {
  padding: 25px;
  margin-top: 30px;
  border-radius: 8px;
  background-color: #f1f3f5; /* Colore di sfondo più neutro per i contenuti specifici */
}

.dashboard-container .role-specific-content h3 {
  font-size: 1.6rem;
  color: #495057; /* Colore più scuro per le intestazioni dei contenuti */
  margin-bottom: 15px;
}

.dashboard-container .role-specific-content p {
  font-size: 1rem;
  color: #495057; /* Colore per il testo dei contenuti */
}

.dashboard-container .role-specific-content ul {
  list-style-type: none;
  padding-left: 0;
}

.dashboard-container .role-specific-content li {
  font-size: 1rem;
  color: #6c757d; /* Colore del testo nei dettagli */
  margin-bottom: 10px;
}
